.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(220, 233, 210);
}

.nav a {
    text-decoration: none;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: rgb(101, 153, 58);
    margin-top: 4vh;
    cursor: pointer;
    text-shadow:1px 1px 3px  #313331;
    font-weight: bold;
}

.seeCarrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;

}