.banner{
    background-size: contain;
    background-position: center;
    height: 35vh;


}

.banner-container {
    text-align: center;
    padding: 5%;
}

.banner h1 {
    margin: 5%;
    color: rgb(112, 141, 118);
    text-shadow:1px 1px 3px  #313331;
    font-size:65px ;
    font-weight: bold;
    text-align: center;
}

.banner p {
    font-size: 30px;
    text-align: center;
    color: #104610;
    opacity: 0.7;
    text-shadow: 1px 1px 3px  #313331;
}
